.header {
    background: $off-black;
    color: whitesmoke;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.header__title {
    color: yellowgreen;
    font-size: $l-size;
    margin: 0px;
    margin-bottom: 10px;
}

.header__subtitle {
    color: #a5efd7;
    font-size: $m-size;
    font-weight: 500;
    margin: 0px;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}